.btn {
  display: block;
  padding: 16px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
  width: 180px;
  cursor: pointer;
}
 